:root{
    background-color: #ffffff;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

header
{
    background-color:#000000;
    color: #FFD700;
    width: 100%;
    position: sticky;
    margin-bottom: 30px;
}

h1{
    font-weight: 700;
    margin-left: 30px;
}

h2{
    font-weight: 300;
    margin-left: 30px;
}

/* Subtitulos de cada seccion */
h3{
    font-weight: 400;
    font-size: 28px;
}

p{
    font-weight: 300;
    font-size: 20px;
}

/* Seccion de lenguajes principales */
.main-languages{
    align-items: center;
    display: flex;
    flex-direction: column; 
    border-radius: 4;
}

/* Contenedor de los iconos de lenguajes */
.language-icons {
    display: flex;
    float: left; 
    margin-right: 20px;
}

/* Iconos de lenguajes */
.main-language-icon {
    width: 120px;
    height: 120px;
    margin: 30px; 
    padding: 8px;
    cursor: pointer; 
    border-radius: 5px;
}

/* Efecto de zoom al hacer hover sobre el icono */
.main-language-icon:hover {
    transform: scale(1.1);
    background-color: white;
}

/* Contenedor para las descripciones */
.language-description-container {
    display: flex;
    justify-content: center;
    height: 200px; 
    width: 800px;
    border: 1px solid #ccc;
    background-color: #FFD700;
    border-radius: 30px;
}

/* Estilo para las descripciones de lenguajes */
.language-description {
    display: none; 
    font-size: 20px;
}

/* Mostrar solo la descripción activa */
.language-description.active {
    display: block;
}

.secondary-languages{
    align-items: center;
    display: flex;
    flex-direction: column; 
    border-radius: 4;
}

.secondary-language-icon{
    width: 80px;
    height: 80px;
    padding: 8px;
    border-radius: 5px;
    margin: 8px;
}